body, html {
    height: 100%;
    background-image: url("imagenes/logo\ principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("imgs/header.jpg");
    text-decoration: solid;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 500px;
    padding: 40px;
    background: black;
    text-align: center;
    border-block-style: white;
}

.form-title {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="Nombre"],
.form-box input[type="Apellidos"],
.form-box input[type="email"],
.form-box input[type="Tarjeta Credito o Debito"],
.form-box input[type="cvv"],
.form-box input[type="fecha"],
.form-box input[type="password"]{
    border:"0";
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid white;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

.form-box button[type="submit"] {
    border: 0;
    background-color: blue;
    cursor: pointer;
}